<repeat group="{{ @listings }}" value="{{ @listing }}" counter="{{ @ctr }}">
    <!--Split by # of listing per row-->
    <check if="{{ @ctr % @row == 1}}">
        <true>
            <div class="row m-5">
        </true>
    </check>
        <div class="col-{{ 12/@row }}" id="{{ @listing->getId().'-col' }}">
            <div class="card m-2 p-2" id="{{ @listing->getId().'-card' }}">
                <img src="images/listings/{{ @listing->getId().'.jpg' }}" class="card-img-top" alt="{{ @listing->name }}">
                <div class="card-body">
                    <p class="card-title">{{ @listing->getName() }} | {{ @listing->getBrand() }}</p>
                    <p class="card-text"><b>${{ @listing->getPrice() }}</b></p>
                </div>
            </div>
        </div>
    <!--Split by # of listing per row-->
    <check if="{{ @ctr % @row == 0}}">
        <true>
            </div>
        </true>
    </check>
</repeat>