<repeat group="{{ @results }}" value="{{ @listing }}" counter="{{ @ctr }}">
    <!--Split by # of listing per row-->
    <check if="{{ @ctr % @row == 1}}">
        <true>
            <div class="row m-5">
        </true>
    </check>

    <div class="col-{{ 12/@row }}" id="{{ @listing->getCode().'-col' }}">
        <a href="listing-{{ @listing->getCode() }}">
            <div class="card m-2 p-2 h-100" id="{{ @listing->getCode().'-card' }}">
                <img src="images/listings/{{ @listing->getCode().'.jpg' }}" class="image rounded card-img-top mt-5"
                     alt="Image of {{ @listing->getBrand() }}'s {{ @listing->getName() }}">
                <div class="card-body d-flex align-items-center">
                    <p class="card-title">{{ @listing->getName() }} | {{ @listing->getBrand() }}</p>
                    <!--                    If there is a sale, display sale price, otherwise display regular price-->
                    <p class="card-text">${{ @listing->getSale() ? @listing->getPrice() * @listing->getSale()
                        : @listing->getPrice() }}</p>
                </div>
            </div>
        </a>
    </div>
    <!--Split by # of listing per row-->
    <check if="{{ @ctr % @row == 0}}">
        <true>
            </div>
        </true>
    </check>
</repeat>