<include href="views/includes/header.html"></include>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ @BASE }}">Phrygian</a>
        <button class="navbar-toggle d-lg-none d-block" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ @BASE }}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 justify-content-end" id="search-form" action="search" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for instruments..." aria-label="Search" aria-describedby="search-addon" id="search-query">
                    <button class="btn btn-outline-success" type="submit" id="search-button">
                        <img src="images/searchIcon.png" alt="Cart Logo" style="width: 40px;" id="search-logo">
                    </button>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-filter="all">All</a>
                            <a class="dropdown-item" href="#" data-filter="brand">Brand</a>
                            <a class="dropdown-item" href="#" data-filter="name">Name</a>
                            <a class="dropdown-item" href="#" data-filter="price-asc">Price: Low to High</a>
                            <a class="dropdown-item" href="#" data-filter="price-desc">Price: High to Low</a>
                            <a class="dropdown-item" href="#" data-filter="new-arrivals">New Arrivals</a>
                        </div>
                    </div>
                </div>
            </form>
            <!--New dropdown-->
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="images/cart.png" alt="Cart icon" id="cart-icon" class="image">
                </button>
                <ul class="dropdown-menu" id="cart-menu">
                    <!--TODO:       -->
                    <repeat group="{{ @SESSION.cart }}" value="{{ @item }}">
                        <li><a></a></li>
                    </repeat>
                    <li><a class="dropdown-item text-center" href="checkout">Checkout</a></li>
                    <li><a class="dropdown-item text-center" href="#">Empty Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
