<include href="views/includes/header.html"></include>
<include href="views/includes/navbar.html"></include>


<!-- Main Content -->
<div class="container my-5 ps-5">
    <h2 style="color: white">About Us</h2>
    <p style="color: white">Welcome to Phrygian! We are a small business specializing in musical equipment. Our journey began with a passion for music and a desire to make quality musical gear accessible to everyone. As a new player in the industry, we are dedicated to offering a curated selection of instruments, accessories, and equipment that meet the needs of musicians of all levels.</p>
    <h2 style="color: white">Our Mission</h2>
    <p style="color: white">At Phrygian, our mission is to support musicians on their musical journey. Whether you're a beginner picking up your first instrument or a seasoned pro looking for top-quality gear, we're here to help you find the perfect equipment to bring your musical vision to life.</p>
    <h2 style="color: white">Our Values</h2>
    <ul style="color: white">
        <li><strong>Customer First:</strong> We prioritize your needs and strive to provide the best shopping experience possible.</li>
        <li><strong>Quality:</strong> We handpick our products to ensure they meet our high standards of quality and performance.</li>
        <li><strong>Community:</strong> We believe in supporting the music community by promoting local artists and hosting events.</li>
    </ul>
    <p style="color: #ffffff">Thank you for choosing Phrygian as your musical equipment provider. We look forward to being part of your musical journey!</p>
</div>

<include href="views/includes/footer.html"></include>
