<include href="views/includes/header.html"></include>
<include href="views/includes/navbar.html"></include>


<div class="container">
    <h1 class="text-center" style="color: white">Checkout</h1>
    <div id="listings" class="listings"></div>
    <div id="checkout-summary" class="checkout-summary">
        <h2>Your Cart</h2>
        <div id="summary-items"></div>
            <repeat group="{{ @SESSION.cart }}" value="{{ @listing }}"></repeat>
        <p id="total-cost">Total Cost: $ {{ @listing->getPrice }}</p>
        <button id="checkout-button">Checkout</button>
    </div>
    </div>

<script src="script/checkoutScript.js"></script>
<include href="views/includes/footer.html"></include>