<include href="views/includes/header.html"></include>
<include href="views/includes/navbar.html"></include>

    <main class="py-5 text-center text-white">
        <div class="container">
            <h1>Welcome to Our Music Store</h1>
            <p class="lead">Explore our extensive collection of musical instruments, from guitars to keyboards, designed for both beginners and professionals.</p>
            <a href="#" class="btn btn-primary">Shop Now</a>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<include href="views/includes/footer.html"></include>