<include href="views/includes/header.html"></include>
<include href="views/includes/navbar.html"></include>

    <main class="py-5 text-center text-white">
        <div class="container">
            <h1>Welcome to Our Music Store</h1>
            <p class="lead">Explore our extensive collection of musical instruments, from guitars to keyboards, designed for both beginners and professionals.</p>
            <a href="search" class="btn btn-primary">Browse All</a>
        </div>
    </main>

<include href="views/includes/footer.html"></include>