<include href="views/includes/header.html"></include>
<include href="views/includes/navbar.html"></include>

<div class="container text-light p-5">
<!--    Define row for basic info about listing (Image, name, price, brand, and description)-->
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <img src="images/listings/{{ @listing->getCode() }}.jpg" alt="An image of {{ @listing->getCode() }}"
                 class="img-fluid rounded">
        </div>
<!--        <img src="images/listings/{{ @listing->getCode() }}.jpg" alt="An image of {{ @listing->getCode() }}" class="rounded col-8">-->
        <div class="col-6">
<!--            Display sale price if on sale, otherwise display base price-->
            <check if="{{ !empty(@listing->getSale()) }}">
                <true><h2>{{ @listing->getName() }} - ${{ @listing->getPrice() }}</h2></true>
                <false><h2 class="sale">{{ @listing->getName() }} - ${{ @listing->getPrice() * @listing->getSale() }}
                    ({{ (1 - @listing->getSale()) * 100 }}% off!</h2></false>
            </check>
            <h3>{{ @listing->getBrand() }}</h3>
            <br>
            <p>{{ @listing->getDesc() }}</p>
            <button class="btn btn-primary add-to-cart" onclick="addToCart('{{ @listing->getCode() }}')" type="button">Add to Cart</button>

        </div>
    </div>

    <br><hr>

<!--    Define row for listings specs sheet/table -->
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="text-center">Specs</h2>
            <table class="table table-bordered">
                <tbody>
                <repeat group="{{ @listing->getSpecs() }}" key="{{ @specName }}" value="{{ @specVal }}" >
                    <tr>
                        <td>{{ @specName }}</td>
                        <td>{{ @specVal }}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>
</div>

<include href="views/includes/footer.html"></include>